
{% extends 'base.html' %}

{% block head %}
<style>
    form{margin-left: 10vh;}
</style>
{% endblock %}

{% block content %}
<form method="post" class="mt-5">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.username.label_tag }} {{ form.username }}
    </div>
    <div class="mb-3">
        {{ form.password.label_tag }} {{ form.password }}
    </div>
    <!-- You can continue in this manner for other form fields if any -->

    <button type="submit" class="btn btn-primary">Login</button>
    <a href="{% url 'register' %}" class="btn btn-link">Register</a>
    <a href="{% url 'password_change' %}" class="btn btn-link">Change Password</a>
</form>
{% endblock %}
