
{% extends 'base.html' %}

{% block head %}
<style>
    form{margin-left: 10vh;}
    .form-check-input:checked + .form-check-label::before {
    background-color: black;
}

    .btn-login{
        background-color: rgb(255, 255, 255);
        border-color: black;
        color: black;
    }

    .btn-login:hover {
        background-color: rgb(0, 0, 0);
        color: white;
        border-color: black;
    }

</style>
{% endblock %}

{% block content %}
<form method="post" class="mt-5">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.username.label_tag }} {{ form.username }}
    </div>
    <div class="mb-3">
        {{ form.password.label_tag }} {{ form.password }}
    </div>
    <!-- You can continue in this manner for other form fields if any -->

    <button type="submit" class="btn-login">Login</button>
    <a href="{% url 'register' %}" class="btn btn-link">Register</a>
    <a href="{% url 'password_change' %}" class="btn btn-link">Change Password</a>
</form>
{% endblock %}
