<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="{% url 'checkout' %}">

        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Proceed to Payment</button>
    </form>
    
    <label for="payment_option">Payment Option:</label>
    <select id="payment_option" name="payment_method">
        <option value="cash" selected>Cash on Delivery</option>
        <!-- Add more options as needed -->
    </select>
    
    

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <a href="{% url 'payment_result' %}">payment_result</a>

    <!-- Display a message about the upcoming card functionality -->
    <p><strong>Note:</strong> The functionality to pay with a card will be added soon.</p>

</body>
</html>
