{% extends 'base.html' %}

{% block head %}
<style>
    .btn{
        background-color: rgb(255, 255, 255);
        border-color: black;
    }

    .btn:hover{
        background-color: rgb(0, 0, 0);
        color: white;
        border-color: black;
    }

    a{
        text-decoration: none;
        color: black;
    }

    a:hover{
        color: rgb(132, 132, 132);
    }

    .card{
        width: 43vh;
        height: 50vh;
        margin: 0;
        border-radius: 0;
    }

    img{
        border-radius: 0;
        height: 40vh;
    }

    .container-fluid{
        margin-top: 1vh;
        text-align: center;
    }

    .image-container{
        margin-bottom: 2vh;
    }

    h1{
        padding-bottom: 2vh ;
        font-size: 7vh;
    }

    .carousel-inner {
        height: 0vh;
    }

    .carousel-inner img {
        height: 70vh;
        object-fit: cover; /* This ensures the image scales correctly within its container */
    }

    .image-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
</style>
{% endblock %}


{% block content %}



<div class="container-fluid"> <!-- Start container -->
    
    


        <div class="image-container" style="background-image: url('https://images.unsplash.com/photo-1485125639709-a60c3a500bf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80');"></div>


      <h1>{{ heading }}</h1>

    <div class="row"> <!-- Start row -->
    {% for product in products %}
    <div class="col-lg-3 col-md-6 mb-4"> <!-- 4 cards in a row on large screens, 2 on medium screens -->
        <div class="card">
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h5>
            <p class="card-text">${{ product.price }}</p>
            <form action="{% url 'add_to_cart' product.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <input type="submit" value="Add to Cart" class="btn">
            </form>
          </div>
        </div>
        
      </div>
    {% endfor %}

</div>
</div>
    
{% endblock content %}

