{% extends 'base.html' %}

{% block head %}
<style>
    .btn{
        background-color: rgb(255, 255, 255);
        border-color: black;
    }

    a{
        text-decoration: none;
        color: black;
    }

    .card{
        width: 40vh;
        height: 50vh;
        margin: 0;
        border-radius: 0;
    }

    img{
        border-radius: 0;
        height: 40vh;
    }
</style>
{% endblock %}
##ADD CAROUSEL!!

{% block content %}
<div class="container"> <!-- Start container -->
    <div class="row"> <!-- Start row -->
    {% for product in products %}
    <div class="col-lg-3 col-md-6 mb-4"> <!-- 4 cards in a row on large screens, 2 on medium screens -->
        <div class="card">
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h5>
            <p class="card-text">${{ product.price }}</p>
            <form action="{% url 'add_to_cart' product.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <input type="submit" value="Add to Cart" class="btn">
            </form>
          </div>
        </div>
        
      </div>
    {% endfor %}


    
{% endblock content %}

