{% extends 'base.html' %}

{% block head %}
<style>
    /* Hide the default radio button */
.form-check-input {
    display: none;
}

/* Create a white square with black border for each radio button */
.form-check-label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    vertical-align: middle;
    

}

/* Style the checked state */
.form-check-input:checked + .form-check-label::before {
    background-color: black;
}

    input[type="submit"] {
        background-color: rgb(255, 255, 255);
        border-color: black;
        color: black;
    }

    input[type="submit"]:hover {
        background-color: rgb(0, 0, 0);
        color: white;
        border-color: black;
    }


    .size-options {
        display: flex;
        gap: 10px;
    }

    .full-height {
        height: 90vh;
    }

    .product-image {
        object-fit: cover;
        height: 100%;
    }

    .flex-column{
        margin-top: 30px;
    }
</style>
{% endblock %}

{% block content %}
<div class="row full-height">
    <div class="col-md-6 p-0">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid product-image">
    </div>
    <div class="col-md-6 d-flex flex-column  align-items-center">
        <div class="  align-items-center">
            <h1>{{ product.name }}</h1>
            <h3> ${{ product.price }}</h3>
            <p>{{ product.description }}</p>

            <form action="{% url 'add_to_cart' product.id %}" method="post">
                {% csrf_token %}
                
                <div class="size-options mb-3">
                    {% for size in sizes %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="size" id="size{{ size.id }}" value="{{ size.id }}" {% if forloop.first %}checked{% endif %}>
                            <label class="form-check-label" for="size{{ size.id }}">
                                {{ size.size }}
                            </label>
                        </div>
                    {% endfor %}
                </div>

                <input type="hidden" name="product_id" value="{{ product.id }}">
                <input type="submit" value="Add to Cart" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock %}
