{% extends 'base.html' %}

{% block head %}
<style>
    .btn{
        background-color: rgb(255, 255, 255);
        border-color: black;
    }

    .btn:hover{
        background-color: rgb(0, 0, 0);
        color: white;
        border-color: black;
    }

    a{
        text-decoration: none;
        color: black;
    }

    .card{
        width: 43vh;
        height: 50vh;
        margin: 0;
        border-radius: 0;
    }

    img{
        border-radius: 0;
        height: 40vh;
    }

    .container-fluid{
        margin-top: 1vh;
        text-align: center;
    }

    h1{
        padding-bottom: 1vh ;
    }

    .carousel-inner {
        height: 70vh;
    }

    .carousel-inner img {
        height: 70vh;
        object-fit: cover; /* This ensures the image scales correctly within its container */
    }
</style>
{% endblock %}


{% block content %}



<div class="container-fluid"> <!-- Start container -->
    
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        
        <div class="carousel-inner">
            {% for product in products %}
          <div class="carousel-item active">
            <img class="d-block w-100" src="{{ product.image.url }}" alt="First slide">
          </div>
          {% endfor %}

        </div>
      </div>

      <h1>{{ heading }}</h1>

    <div class="row"> <!-- Start row -->
    {% for product in products %}
    <div class="col-lg-3 col-md-6 mb-4"> <!-- 4 cards in a row on large screens, 2 on medium screens -->
        <div class="card">
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h5>
            <p class="card-text">${{ product.price }}</p>
            <form action="{% url 'add_to_cart' product.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <input type="submit" value="Add to Cart" class="btn">
            </form>
          </div>
        </div>
        
      </div>
    {% endfor %}

</div>
</div>
    
{% endblock content %}

